node-red_Examples.json
[
    {
        "id": "ac527173.6990c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c5d90bd6.795078",
        "type": "mqtt in",
        "z": "ac527173.6990c",
        "name": "",
        "topic": "distance14",
        "qos": "2",
        "broker": "33e820cc.ddae6",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "be719f0d.2c117",
                "81c6873.68cd578"
            ]
        ]
    },
    {
        "id": "be719f0d.2c117",
        "type": "debug",
        "z": "ac527173.6990c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "92365f66.e45ca",
        "type": "inject",
        "z": "ac527173.6990c",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 340,
        "wires": [
            [
                "41b54658.de6fe8"
            ]
        ]
    },
    {
        "id": "ef2dbbcc.55c678",
        "type": "inject",
        "z": "ac527173.6990c",
        "name": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "41b54658.de6fe8"
            ]
        ]
    },
    {
        "id": "41b54658.de6fe8",
        "type": "switch",
        "z": "ac527173.6990c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "15dce129.81a90f"
            ],
            [
                "46cbad75.275fb4"
            ]
        ]
    },
    {
        "id": "15dce129.81a90f",
        "type": "http request",
        "z": "ac527173.6990c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:3000/led/turnOn",
        "tls": "",
        "x": 570,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "46cbad75.275fb4",
        "type": "http request",
        "z": "ac527173.6990c",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://localhost:3000/led/turnOff",
        "tls": "",
        "x": 570,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "81c6873.68cd578",
        "type": "ui_text",
        "z": "ac527173.6990c",
        "group": "75d1c410.2a933c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "a7498f5.9825a7",
        "type": "ui_button",
        "z": "ac527173.6990c",
        "name": "",
        "group": "75d1c410.2a933c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "color": "",
        "bgcolor": "#174416",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "41b54658.de6fe8"
            ]
        ]
    },
    {
        "id": "97f95519.7af738",
        "type": "ui_button",
        "z": "ac527173.6990c",
        "name": "",
        "group": "75d1c410.2a933c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "color": "",
        "bgcolor": "#441515",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "41b54658.de6fe8"
            ]
        ]
    },
    {
        "id": "33e820cc.ddae6",
        "type": "mqtt-broker",
        "z": "",
        "name": "iot.eclipse.org",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "75d1c410.2a933c",
        "type": "ui_group",
        "z": "",
        "name": "My House",
        "tab": "c9831113.f9fac",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c9831113.f9fac",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]